<%= form_for (@group) do |f| %>
    <div class="form-group">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, class: "form-control" %>
    </div>

    <%= f.submit "Add Group", class: "btn btn-success" %>
<% end %>