<div class="container my-5">
    <h3 class="text-primary"><%= current_user.name %>'s Profile</h3>
    <%= link_to  "All My Charges", charges_path, class: "text-info" %><br />
    <%= link_to  "All My External Charges", external_charges_index_path, class: "text-info" %><br />
    <%= link_to  "All Groups", groups_path, class: "text-info" %><br />
</div>
