<nav class="navbar navbar-light bg-dark text-white d-flex justify-content-between">
    <%= link_to  "G-T", root_path, class: "navbar-brand text-primary" %>
    <ul class="list-unstyled d-flex m-0">
        <%= navigation %>
    </ul>
</nav>
<div class="container my-5 text-center">
    <h1><span class="text-primary display-4">G-T</span>rans</h1>
    <p class="lead">Welcome to our <span>Group Transactions</span> app</p>
</div>